.hero {
  text-align: center;
  padding: 80px 20px;
  background: #eaf3f3;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  max-width: 800px;
  margin: auto;
}

.hero-content p {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 80%;
  max-width: 900px;
  border-radius: 50px;
}

/* Responsive */

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .hero-image img {
    width: 100%;
  }
}
